<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'flake_app/detail.css' %}">
    <script src="{% static 'flake_app/detail.js' %}"></script>
    <header><h1>{{device.name}}</h1></header>
    {{device.desc}}
    <a href = "{% url 'flake_app:flake-edit' device.pk %}">Edit</a>
    
    <div class = "headerlink">
        <form id = "setcurrent" method = "post">
            {% csrf_token %}
            <input type = "hidden" name = "set-current" value = "1" />
            <a href = "#", onclick="document.forms[0].submit(); return false;">Set current device</a>
        </form>
    </div>
    <hr>

    <div class = "tab">
        <ul>
            {% for flake in device.flakes.all %}
                <li><button onclick="openImage(event, '{{flake.name}}');" class = "imagelink">{{flake.name}}</button></li>
            {% endfor %}
        </ul>
    </div>
        {% if device.flakes.all|length %}
            {% for flake in device.flakes.all %}
                <div class = "imagecontent" id = "{{flake.name}}">
                    <table class = "imagetable">
                        <thead>
                            <tr>
                                <th>Flake</th>
                                <th>Trained</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div id = "Flake" class = "imagecontent">
                                    {% if flake.flake_image %}
                                        <td><img src = "{% url 'flake_app:flake-image' flake.pk %}" width = "300" height = "300"></td>
                                    {% else %}
                                        <td>No image found</td>
                                    {% endif %}
                                </div>
                                <div id = "Trained" class = "imagecontent">
                                    {% if flake.trained_image %}
                                        <td><img src = "{{flake.trained_image.url}}" width = "300" height = "300"></td>
                                    {% else %}
                                        <td>No image found</td>
                                    {% endif %}
                                </div>
                            </tr>
                        </tbody>
                    </table>
                    <div class = "buttonlink">
                        <a href = "{{ flake.get_absolute_url }}">Details</a>
                        <form id = "removeflake" method = "post">
                            {% csrf_token %}
                            <input type = "hidden" name = "remove-flake" value = "{{flake.pk}}" />
                            <a href = "#", onclick="if(confirm('Are you sure you want to remove {{flake.name}} from the device?')){closest('form').submit()};">Remove from device</a>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No flakes have been added to the device.
        {% endif %}
        <a href = "{% url 'flake_app:device-download' device.pk %}">Download as powerpoint</a>

{% endblock %}
</html>
