<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'flake_app/detail.css' %}">
    <script src="{% static 'flake_app/detail.js' %}"></script>
    <h1>{{flake.name}}</h1>
    <div class = "headerlink">
        {% if user.current_device %}
            {% if flake not in user.current_device.flakes.all %}
                <form id = "add_to_device" method = "post">
                    {% csrf_token %}
                    <input type = "hidden" name = "add-to-device" value = "1" />
                    <a href = "#", onclick="document.forms[0].submit(); return false;">Add to current device</a>
                </form>
            {% endif %}
        {% endif %}
        <a href = "{% url 'flake_app:flake-edit' flake.pk %}">Edit</a>
    </div>
    <hr>
    <table class = "proptable">
        <thead>
            <tr>
                <th>Box</th>
                <th>Chip</th>
                <th>Flake Number</th>
                <th>Uploaded</th>
                <th>Owner</th>
                <th>Device</th>
            </tr>
        </thead>
        <tr>
            <td>{{flake.box}}</td>
            <td>{{flake.chip}}</td>
            <td>{{flake.num}}</td>
            <td>{{flake.uploaded_at}}</td>
            <td>{{flake.owner}}</td>
            <td>
                {% if flake.device %}
                    <a href="{% url 'flake_app:device-detail' flake.device.pk %}">{{flake.device.name}}</a>
                {% else %}
                    Unused
                {% endif %}
            </td>
        </tr>
        <thead>
            <tr>
                {% for prop_name, _ in flake.get_displayed_fields.items %}
                    <th>{{ prop_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tr>
            {% for _, prop in flake.get_displayed_fields.items %}
                <td>{{ prop }}</td>
            {% endfor %}
        </tr>
    </table>
    <table class = "imagetable">
        <thead>
            <tr>
                <th>Flake</th>
                <th>Trained</th>
                <th>Map</th>
            </tr>
        </thead>
        <tr>
            <div id = "Flake" class = "imagecontent">
                {% if flake.flake_image %}
                    <td><img src = "{% url 'flake_app:flake-image' flake.pk %}" width = "300" height = "300"></td>
                {% else %}
                    <td>No image found</td>
                {% endif %}
            </div>
            <div id = "Trained" class = "imagecontent">
                {% if flake.trained_image %}
                    <td><img src = "{{flake.trained_image.url}}" width = "300" height = "300"></td>
                {% else %}
                    <td>No image found</td>
                {% endif %}
            </div>
            <div id = "Map" class = "imagecontent">
                <td><img src = "{% url 'flake_app:map-image' flake.pk %}" width = "300" height = "300"></td>
        </tr>
    </table>
    
{% endblock %}
</html>
